<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free food catalogue for you">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
  <link rel="icon" href="foodintake.png">
  <title>FoodIntake</title>
</head>
<body>
  <header class="app-bar">
    <div class="app-bar__brand">
      <img tabindex="0" class="header__brand" src="foodintake.png" alt="ExploResto">
      <h1>FoodIntake</h1>
    </div>

    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/about-us">About Us</a></li>
        <li><a href="#/foodish">Foodish </a></li>
        <button id="#btnLogin" class="btn_login" onclick="window.location.href='#/login'">Login</button>
      </ul>
    </nav>

    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
  </header>

  <main id="mainContent">
  </main>

  <footer>
    <section class="first-footer">
      <div class="footer-header">
        <div >
          <h1>FoodIntake</h1>
          <p>Hidup Sehat Bernutrisi</p>
        </div>
      </div>

      <div class="footer-navigation">
        <h1>NAVIGASI</h1>
        <div class="navigation-list">
          <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/about-us">About Us</a></li>
            <li><a href="#/foodish">Foodish</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-contact">
        <h1>KONTAK</h1>

        <div class="contact-list">
          <ul>
            <li><a href="#/Zian">Zian</a></li>
            <li><a href="#/ananta">Ananta</a></li>
            <li><a href="#/arif">Arif</a></li>
            <li><a href="#/Yusran">Yusran</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-address">
        <h1>ALAMAT</h1>
        <p>BTN PAO-PAO PERMAI G6/8, SOMBA OPU GOWA</p>
      </div>
    </section>
    <div class="copyright">
      <p>Copyright © 2022 - FoodIntake. All Rights Reserved.</p>
    </div>
  </footer>
</body>
</html>