@media screen and (max-width: 1200px) {
    main .second-main {
        align-items: center;
        text-align: center;
    }

    main .second-main .tagline-why {
        flex-direction: column;
    }

    main .second-main .tagline-why img {
        margin: 0;
        margin-bottom: 24px;
        height: 50%;
    }

    main .third-main {
        flex-direction: column;
        text-align: center;
    }

    main .third-main .tagline-heading {
        text-align: center;
        margin-right: 0;
        margin-bottom: 50px;
    }

    main .fourth-main img {        
        max-width: 600px; 
        width: 100%;
    }

    main .fourth-main {
        flex-direction: column;
    }

    main .fourth-main .tagline-heading br {
        display: none;
    }

    .about-foodintake {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-foodintake div {
        margin: 24px 0px;
        padding: 0px;
        width: 80%;
    }

    .about-foodintake div img {
        max-width: 320px;
        width: 80%;
    }

    filter-menu {
        display: none;
        grid-column-start: 1;
        grid-column-end: 5;
        position: fixed;
        z-index: 9999;
        padding-top: 30px;
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4);
    }

    .food-content {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    search-bar {
        max-height: 90px;
        padding: 0;
    }

    .show-filter {
        display: block;
        margin-bottom: 35px;
    }   

    .food-ingredient-image {
        max-width: 400px;
    }
    
    .food-equipments {
        max-width: 430px;
    }
}

@media screen and (max-width: 950px) {
    main .first-main {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding: 64px 30px;
    }

    main .first-main .tagline-img {
        margin-bottom: 50px ;
    }

    main .second-main {
        padding: 30px 32px;
    }

    main .second-main .tagline-why, .second-main .tagline-heading h1 {
        padding: 0;
        margin: 0;
    }

    .app-bar .app-bar__menu button{
        display: flex;
        justify-content: center;
        min-width: 44px;
        min-height: 44px;
        color: #5F7161;
        font-size: 24px;
        border-radius: 8px;
    }

    .app-bar .app-bar__navigation {
        height: 90vh;
    }

    .app-bar .app-bar__navigation ul li a {
        margin-bottom: 24px;
    }

    .food {
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 850px) {
    main .main-galery .galery-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
    }

    .galery-img-1 {
        grid-row: span 1;
        grid-column: span 2;
    }

    .galery-img-3 {
        grid-row: span 2;
    }

    .galery-img-4 {
        grid-row: span 1;
    }

    .team-profile {
        display: flex;
        flex-direction: column;
    }

    .card-profile > *{
        margin-bottom: 24px;
    }   

    .content-aside h5 {
        font-size: 12pt;
    }
}

@media screen and (max-width: 800px) {
    main .fifth-main {
        padding: 50px 30px;
    }

    main .fifth-main img {
        margin: 20px;
        max-height: 400px; 
    }

    .food {
        margin: 0 auto;
    }

    .food-image {
        max-width: 100%;
    }

    .food-fact {
        padding: 20px;
    }

    .food-fact table {
        align-items: center;
    }

    .food-nutrition-label img {
        width: 85%;
        max-width: 310px;
    }
}

@media screen and (max-width: 650px) {
    main .first-main .tagline {
        margin: 0;
    }

    main .first-main .tagline h1 {
        font-size: 24pt;
    }

    main .first-main .tagline h4 {
        font-size: 14pt;
    }

    main .first-main .tagline-img img {
        width: 240px;
        height: 240px;
    }

    main .second-main .tagline-why .img-container img {
        width: 240px;
        height: 240px;
        justify-content: center;
        margin: auto 0;
        margin-bottom: 24px;
    }

    main .second-main .tagline-heading h1, 
    main .third-main .tagline-heading h1, 
    main .fourth-main .tagline-heading h1,  
    main .fifth-main .tagline-heading h1, 
    main .fifth-main .tagline-heading h1
    main .main-galery {
        font-size: 20pt;
    }

    main .second-main {
        background-image: url('../public/img/background-tagline-why-small.jpg');
    }

    main .second-main .tagline-why p {
        font-size: 11pt;
        text-align: left;
    }

    main .tagline-heading p {
        font-size: 11pt;
    }

    main .second-main, main .third-main  {
        padding: 40px 30px;
    }

    main .third-main .third-main-grid {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    main .fifth-main {
        flex-direction: column;
    }

    main .main-galery {
        padding: 0;
    }

    main .main-galery .galery-grid {
        padding: 0 16px;
        margin-bottom: 40px;
    }

    .about-foodintake {
        text-align: left;
        width: 100%;
    }

    .about-foodintake div {
        margin: 0;
        padding: 0px;
        width: 100%;
    }

    .foodintake-logo {
        text-align: center;
        width: 80px;
    }

    .foodintake-logo img {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .about-team {
        padding: 32px;
    }

    .team-description {
        text-align: left;
        padding: 0;
    }

    footer .first-footer {
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 40px 30px;
    }

    footer .first-footer .footer-header h1 {
        font-size: 24px
    }

    footer div h1 {
        font-size: 18px;
    }

    footer section .footer-address p {
        font-size: 14px;
    }

    .aside-food-item li {
        font-size: 9pt;
    }
    
}

@media screen and (max-width: 550px) {
    main .first-main .tagline h1 {
        font-size: 22pt;
    }

    main .first-main .tagline h2 {
        font-size: 16pt;
    }

    main .first-main .tagline h4 {
        font-size: 11pt;
    }

    main .third-main .tagline p br {
        display: none;
    }

    main .third-main .third-main-grid {
        padding: 0;
    }

    main .fourth-main {
        padding: 50px 15px;
    }

    .app-bar .app-bar__brand h1 {
        font-size: 17pt;
    }

    .app-bar__brand img {
        width: 28px;
        margin-right: 7px;
    }

    .foodish-continer {
        gap: 0
    }       

    .content {
        margin: 10px 0;
    }    

    .detail-page, .content-aside {
        background-color: #f1f1f1;
        padding: 10px 0;
        margin: 0;
    }
    
    .show-filter {
        font-size: 10pt;
        margin-bottom: 30px;
        margin-top:  10px;
    }

    .foodish-continer {
        margin: auto 0;
    }

    .foods {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;  
    }

    

    .food, .similar-food, .video-similar-food {
        border-radius: 0;
    }

    .food li, .food p, .content-aside p {
        font-size: 10pt;
    }

    .food-result-message {
        font-size: 12pt;
        margin: 0;
        padding-bottom: 18px;
        background-color: #f2f2f2;
    }

    .food-content {
        background-color: #f2f2f2;
        padding: 10px;        
    }

    .food-content-item {
        max-width: 400px;
        margin: 0 auto;
    }

    .food-item-main {
        display: flex;
        flex-direction: column-reverse;
    }

    .food-item-title {
        padding: 10px 15px;
        margin: 0;
        height: 52px;
    }

    .food-item-title a {
        font-size: 10.5pt;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
    }

    .food-item-info {
        display: flex;
        flex-direction: column;
        padding: 15px 5px;
    }    

    .food-item-info ul {
        margin: 0;
        padding: 3px 10px;
        max-height: 16px;
        text-align: left;
        border: none;
    }

    .food-item-info ul li {
        font-size: 9pt;
        margin: 0;        
        display: inline;
        text-align: left;
    }    

    .food-item-summary {
        display: none;
    }    

    .food-fact-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .food-fact-value {
        font-size: 12pt;
    }

    .food-fact-title {
        font-size: 10pt;
    }

    .content-aside h4 {
        font-size: 14pt;
    }

    .content-aside h5 {
        font-size: 9pt;
    }

    .food-trivia {
        margin: 20px auto;
        max-width: 350px;
    }

    .video-food-item-thumbnail {
        width: 100px;
    }

    .pagination button {
        color: black;
        float: left;
        font-size: 11pt;
        padding: 10px 16px;
        border: 1px solid #d3d3d3;
    }

    .bookmark-continer {
        margin: 20px;
    }

    .bookmark-continer h2 {
        font-size: 15pt;
        margin: 30px auto;
    }

    .bookmark-continer h4 {
        font-size: 11pt;
    }

    .bookmark-continer .icon-title {
        font-size: 13pt;
    }

    .bookmark-content {
        background-color: #fff;
        padding: 0;
    }
}

@media screen and (min-width: 550px) {
    
    .foods {
        grid-template-columns: repeat(2, 1fr);
    } 

    .content {
        margin: 20px;
        gap: 20px;
    }

    .detail-page {
        background-color: #f1f1f1;
        margin: 0;
        padding: 20px;
        
    }

    .content-aside {
        background-color: #f1f1f1;
        padding-bottom: 50px;
    }

    .food, .similar-food, .video-similar-food {
        border-radius: 10px;
    }

    .food-fact-value {
        font-size: 14pt;
    }
}

@media screen and (min-width: 650px) {
    main .second-main .tagline-why .img-container img {
        justify-content: center;
        margin-bottom: 24px;
    }

    footer .first-footer {
        grid-template-columns: 360px 1fr;
        gap: 16px
    }

    .video-food-item-thumbnail {
        height: 100px;
    }
}

@media screen and (min-width: 800px) {
    .app-bar .app-bar__brand h1 {
      font-size: 1.5em;
    }

    .foods {
        grid-template-columns: repeat(2, 1fr);
    } 

    .food, .similar-food, .video-similar-food {
        border-radius: 20px;
    }

    .food-fact-value {
        font-size: 18pt;
    }

    .food-fact-title {
        font-size: 11pt;
    }
}

@media screen and (min-width: 850px) {
    .foods {
        grid-template-columns: repeat(3, 1fr);
    } 
}

@media screen and (min-width: 950px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }

    .app-bar .app-bar__brand h1 {
        font-size: 1.5em;
    }

    .app-bar .app-bar__menu {
        display: none;
        justify-content: end;
    }

    .app-bar .app-bar__navigation {
        position: static;
        width: 100%;
    }

    .app-bar .app-bar__navigation ul {
        margin: auto 0;
    }

    .app-bar .app-bar__navigation ul li {
        display: inline-block;
        align-items: center;
    }

    .app-bar .app-bar__navigation ul li a {
        display: flex;
        align-items: center;
        width: 150px;
        text-align: center;
        min-width: 44px;
        min-height: 44px;
    }

    .content {
        margin: 40px 20px;
    }

    .detail-page {
        background-color: #f1f1f1;
        margin: 0;
        padding: 40px 20px;
    }
}

@media screen and (min-width: 1200px) {
    main .second-main .tagline-why .img-container img {
        margin-right: 80px;
    }

    /* main .third-main {
        padding: 50px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 30px;
        margin: 0;
    }

    main .third-main .food-type-text {
        bottom: 0;
        padding: 100px 30px 0 30px;
        text-align: left;
    } */

    footer .first-footer {
        grid-template-columns: repeat(4, 1fr);
        gap: 32px
    }    

    .foods {
        grid-template-columns: repeat(2, 1fr);
    } 

    search-bar {
        margin: 0 auto;
        min-width: 80%;
        padding: 0;
    }
}

@media screen and (min-width: 1500px) {
    main .fifth-main {
       padding: 50px 70;
    }

    main .fourth-main .tagline-heading, main .fifth-main img, main .fifth-main .tagline-heading {
        padding: 0 50px;
    }

    .foods {
        grid-template-columns: repeat(3, 1fr);
    }

    .bookmark-continer .foods {
        grid-template-columns: repeat(5, 1fr);
    }

    .content {
        margin: 50px 80px;
        grid-template-columns: 3fr 1fr;
        gap: 0;
    }

    /* detail food */
    .detail-page {
        background-color: #f1f1f1;
        margin: 0;
        padding: 50px 80px;
    }

    .food {
        min-width: 860px;
    }

    .video-food-item {
        grid-template-columns: 2fr 3fr; 
    }

    .content-aside h5 {
        font-size: 12pt;
    }

    .food-trivia, .similar-food {
        min-width: 350px;
    }

    .video-food-item-thumbnail {
        width: 100%;
        height: 80px;
        object-fit: scale-down;
    }

    .video-food-item-info {
        font-size: 9pt;
    }

    .food-ingredient-image {
        max-height: 400px;
    }
}
